*{
  box-sizing: border-box;
    --theme:#6e0000;
}
html{
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 252, 252),rgb(255, 255, 255));
}

ul{
  list-style:none;   

}
li{
  list-style-type:none;   
  text-align: center;
}
button{
  border: 0;
}
input{
  outline: none;
  border: 0;
}