@font-face {
  font-family: "iconfont"; /* Project id 4456847 */
  src: url('//at.alicdn.com/t/c/font_4456847_za65sd2ns0c.woff2?t=1715664211153') format('woff2'),
       url('//at.alicdn.com/t/c/font_4456847_za65sd2ns0c.woff?t=1715664211153') format('woff'),
       url('//at.alicdn.com/t/c/font_4456847_za65sd2ns0c.ttf?t=1715664211153') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-liked:before {
  content: "\e616";
}
.icon-huiyuan:before {
  content: "\e65d";
}

.icon-xiaolian:before {
  content: "\e64b";
}

.icon-dianhua:before {
  content: "\e603";
}

.icon-renshu:before {
  content: "\e657";
}

.icon-bg-left:before {
  font-size: 25px;
  content: "\e638";
}

.icon-bg-right:before {
  font-size: 25px;
  content: "\e64c";
}

.icon-mind-full:before {
  content: "\e850";
}

.icon-shangchuan1:before {
  content: "\eb15";
}

.icon-calendar-full:before {
  content: "\e9ab";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-nv:before {
  content: "\e644";
}

.icon-nan:before {
  content: "\e60d";
}

.icon-weizhi:before {
  content: "\e711";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-dianzan:before {
  content: "\e61c";
}

.icon-faxian:before {
  content: "\e80f";
}

.icon-dianpu:before {
  content: "\e811";
}

.icon-liulan:before {
  content: "\e816";
}

.icon-shezhi:before {
  content: "\e650";
}

.icon-shangchuan:before {
  content: "\e629";
}

.icon-mimadenglu:before {
  content: "\e65f";
}

.icon-yanzhengmadenglu:before {
  content: "\e64f";
}
